.header {
  direction: ltr !important;
  background: #1669c5;
  border-radius: 45% / 0 0 45% 45%;
  color: white;
}

.link-logo {
  width: 25px;
  filter: brightness(0) invert(1);
}

.angular-img {
  height: 37px;
  margin-right: 5px;
  @screen sm {
    height: 63px;
    margin-right: 8px;
  }
}

button {
  @apply flex justify-center rounded border-2 border-red-500 bg-red-500 hover:bg-red-600 hover:border-red-600 p-1 m-auto;
  width: 220px;
}
